.vscode
.idea
backend/.env
backend/node_modules
node_modules

# Frontend ignores

# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
frontend/node_modules/

# Expo
frontend/.expo/
frontend/dist/
frontend/web-build/

# Native
frontend/*.orig.*
frontend/*.jks
frontend/*.p8
frontend/*.p12
frontend/*.key
frontend/*.mobileprovision

# Metro
frontend/.metro-health-check*

# debug
frontend/npm-debug.*
frontend/yarn-debug.*
frontend/yarn-error.*

# macOS
frontend/.DS_Store
frontend/*.pem

# local env files
frontend/.env*.local
frontend/.env

# typescript
frontend/*.tsbuildinfo
backend/dist

backend/coverage
backend/coverage/*
backend/uploads

frontend/%ProgramData%


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
dashboard/node_modules
dashboard/.pnp
dashboard/.pnp.js

# testing
dashboard/coverage

# production
dashboard/build

# misc
dashboard/.DS_Store
dashboard/.env.local
dashboard/.env.development.local
dashboard/.env.test.local
dashboard/.env.production.local

dashboard/npm-debug.log*
dashboard/yarn-debug.log*
dashboard/yarn-error.log*
dashboard/.env

backend/serviceAccountKey.json



