name: React Native CI

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "16.x"
          cache: "npm"
          cache-dependency-path: frontend/package-lock.json

      - run: |
          cd backend
          touch .env
          echo ENV=GA >> .env

      # Install dependencies in the frontend directory
      - name: Install dependencies
        run: cd frontend && npm install

      # Optionally, you can add steps to build your React Native app
#      - name: Build React Native app
#      - run: cd frontend && npx react-native build-android
#   run: cd frontend && npx react-native run-android

# Run tests (make sure you have a test script in your package.json)
#      - name: Run tests
#        run: cd frontend && npm test

# Any other steps you need for your CI, like linting, can be added here
